################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day-2/Ekart.AccpetanceTests/bin/Debug/net6.0
/Day-2/Ekart.AccpetanceTests/.vs
/Day-2/Ekart.AccpetanceTests/obj
