################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day-2/Ekart.AccpetanceTests/bin/Debug/net6.0
/Day-2/Ekart.AccpetanceTests/.vs
/Day-2/Ekart.AccpetanceTests/obj
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/00e5f8e9-e9f5-49be-8a97-f506a9efdc90.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/0703cf7a-009c-4311-9fd5-58c038b9f6b7.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/0703cf7a-009c-4311-9fd5-58c038b9f6b7.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/3fe727a3-2302-49fe-96e3-f63317a3f6cc.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/ca9ae109-4638-4a5f-b2d1-d3623f582886.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/FileContentIndex/d38d821a-ccb4-4711-929b-65e85557b7c0.vsidx
/Day-3/Ekart.AccpetanceTests/.vs/Ekart.AccpetanceTests/v17/.suo
